* {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ContenidoPrincipal {
    border: 5px blue solid;
    margin: 15px;
    padding: 15px;
}

.AreaIzq {
    width: 400px;
    height: 800px;
    display: inline-block;
    border: 5px red solid;

    margin: 0px;
    
}

.Imagen {
    margin: 15px;
    position: absolute;
    border: 5px gold solid;
}

.AreaBio {
    margin: 15px;
    padding: 15px;
    height: 100px;
    width: 810px;
    position: absolute;
    border: 5px green solid;
    display: inline-block;

}

.Biografia {
    margin: 0px;
    padding: 0px;
}

.BioTexto {
    margin: 0px;
    padding: 0px;
}

.Header {
    background-color: aqua;
    margin: 0px;
    padding: 0px;
    display: block;
    height: 50px;
    position: static;
    z-index: s;
    border: 5px black solid;
}

.Lista {
    position: absolute;
    display: block;
}